﻿<%@ Page Language="C#" Inherits="Olimp.Core.Mvc.OlimpViewPage"  MasterPageFile="~/Views/Shared/Monitoring.master" %>

<asp:Content ContentPlaceHolderID="Olimp_Monitoring_Content" runat="server">
	<% Html.RenderAction("Index", "ProtocolManager"); %>	
</asp:Content>	
