@media screen {
	* html, 
	* html body { overflow-y: hidden !important; height: 100%; margin: 0; padding: 0; }
	* html .wrapper { height: 100%; overflow-y: scroll; position: relative; padding: 0 20px 0 0; }
	
	* html #main { float: left; }
	
	* html div.button-float-container { 
		left: 0; 
		bottom: -1px; 
		width: 100%; 
		height: 64px;
		padding: 0;
		margin-left: -17px;
		position: absolute;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	}
	* html div.button-float-container div { position: relative; height: 100%; width: 100%; }	
	* html div.button-float-container div iframe { width: 100%; height: 100%; filter: alpha(opacity=0); }
	* html div.button-float-container div button.olimp-button { position: absolute; top: 20px; left: 37px; }
}