#head .top-right-text { width: auto; }

.navigation .body .questions, .navigation .body .links { line-height: 22px; }

.form-table tr th { width: 1%; }

.catalogue .node-caption { overflow-x: hidden; }
.catalogue .node-caption .material-name { padding-left: 42px; }
.without-checkboxes .node-caption .material-name { padding-left: 22px; }

.table .min-size { width: 1%; }
.table .body table .actions .action { display: inline; zoom: 1; }

.olimp-dialog .olimp-dialog-content-overflowed { overflow-x: hidden; padding-right: 24px; }

button.olimp-button { height: 34px; }
