.catalogue ul { margin-left: 0; }
.catalogue .nodes { padding-left: 31px; }
.catalogue .node-caption { zoom: 1; }
.catalogue .node-caption .node-name { padding-left: 28px; }
.catalogue .node-caption .checker { margin-top: -3px; margin-left: -4px; }
.catalogue .node-caption .material-name { padding-left: 46px; }
.catalogue .materials li.last { background-position-y: -9px; }
.catalogue .materials li .gap { background-position-y: 7px; }

.without-checkboxes .node-caption .node-name  { padding-left: 15px; }
.without-checkboxes .node-caption .material-name { padding-left: 30px; }