/*.navigation .tabs { height: 32px; }*/

.catalogue .nodes { padding-left: 37px; }
.catalogue .materials { padding-left: 2px; }

.without-checkboxes .nodes { padding-left: 22px; }

.olimp-dialog { overflow-x: hidden; }

.print-block { width: 170px; }