.catalogue { font-size: 13px; padding: 0; margin: 0; }
.catalogue li { list-style-type: none; background: url(./Images/pixel.gif) repeat-y 4px 0; padding-bottom: 5px; clear: both; padding-top: 4px; }
.catalogue li .gap { width: 4px; background: url(./Images/pixel.gif) repeat-x 0 6px; float: left; }

.catalogue .nodes { padding-left: 30px; }

.catalogue .materials { padding: 0; }
.catalogue .materials li { background-position: 0 0; margin-left: 34px; }
.catalogue .materials li .gap { width: 7px }

.catalogue .node-caption * { float: left; }
.catalogue .node-caption .checker { margin: 0 4px 0 0; border: 0 !important; }

.catalogue .node-caption .material-name { padding-left: 45px; }
.catalogue .node-caption .material-name a:visited { color: #3578CB; }
.catalogue .node-caption .material-name * { float: none; }
.catalogue .node-caption .material-name,
.catalogue .node-caption .node-name { float: none; }
.catalogue .node-caption .node-name { margin-left: 5px; padding: 0 0 5px 25px; font-weight: bold; }
.catalogue .node-caption .node-name span { cursor: pointer; }
.catalogue .node-caption .highlighted { color: #3578cb; }

.catalogue .node-caption .expandee { margin-top: 2px; cursor: pointer; }

.catalogue li.last { background: url(./Images/line.gif) no-repeat 4px -10px;  }
.catalogue li.unavailable { padding-left: 4px; }
.catalogue li.unavailable .node-name { margin-left: 1px; color: #585A5E; }
.catalogue .materials li.last { background-position: 0px -10px; }
.catalogue .materials li.locked { color: #787b80; }

.activatable .materials li.activated a { font-weight: bold; }

.without-checkboxes .node-caption .material-name { padding-left: 30px; }
.without-checkboxes .node-caption .node-name  { padding-left: 15px; }
.without-checkboxes .materials li { margin-left: 20px; }
.without-checkboxes .nodes { padding-left: 20px; }

.tree-table-wrapper { margin: 30px 0 10px 30px; }
.without-checkboxes .tree-table-wrapper { margin-left: 20px; }

.table .min-size { width: 1px; }
.table .body { border: solid 1px #c5cbd0; }
.table .body table { border-collapse: collapse; font-size: 13px; width: 100%; }
.table .body table tr.odd { background-color: #f0f3f8; }
.table .body table tr.even { background-color: #fff; }
.table .body table th, 
.table .body table td { text-align: left; font-weight: normal; border-top: solid 1px #e7e7e7; padding: 7px; margin: 0; }
.table .body table td ul { margin: 0; padding: 0; }
.table .body table .actions { white-space: nowrap; text-align: left; vertical-align: middle; padding-left: 10px; }
.table .body table .actions .action { display: inline-block; margin-right: 10px; margin-left: 10px; }
.table .body table .checkbox { padding-right: 13px; }
.table .body table .checkbox input { border: 0; }
.table .body table thead th { background-color: #dadfe9; border-top: 0; }
.table .body table thead th a { text-decoration: none; color: #000; }
.table .body table thead th a:hover { text-decoration: underline; }
.table .body table thead th a.inactive:hover { text-decoration: none; }
.table .body table thead th .sort { display: inline-block; /*IE display: inline; font-size: 9px; padding: 0 5px;*/ }
.table .body table thead th .no-sort { display: none; }
.table .body table tbody td.grouping { font-weight: bold; }
.table .body table tr .highlight { width: 5px; padding: 0; }
.table .body table tr.highlighted td.highlight { background-color: #0381d5; }

.table .paging { font-size: 11px; font-family: Tahoma; margin-top: 6px; }
.table .paging .pages, .table .paging .status, .table .paging .selected-items-count { padding: 6px 0; }
.table .paging .pages, .table .paging .selected-items-count { float: left; }
.table .paging .pages, .table .paging .total select { width: auto; }
.table .paging .status, .table .paging .selected-items-count { padding-right: 12px; margin-right: 12px; border-right: solid 1px #c5cbd0;  }
.table .paging .status, .table .paging .total { float: right; }

.table .paging { height: 25px; }
.table .paging, 
.table .paging .pages a { color: #585a5e; }
.table .paging .pages a { text-decoration: none; }
.table .paging .pages a:hover { text-decoration: underline; }
.table .paging .pages .icon { margin-top: 2px; }
.table .paging .pages .icon,
.table .paging .pages .links { float: left; }
.table .paging .pages .links { padding: 0 6px; }
.table .paging .pages .links .separator,
.table .paging .pages .links a { margin-left: 5px; }
.table .paging .pages .links a.selected { color: #000; font-weight: bold; }

.table .buttons { clear: both; padding-top: 6px; margin-top: 6px; border-top: solid 1px #e7e7e7; }

.olimp-button { 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-khtml-border-radius: 4px; 
	border-radius: 4px;
	display: inline-block; 
	position: relative; 
	padding: 6px 20px; 
	text-decoration: none !important; 
	cursor: pointer; 
	text-align: center; 
	zoom: 1; 
	overflow: visible;
	background-color: #0a67b7;
	font-size: 18px;
	color: #fff !important;
	font-family: Calibri;
	font-weight: bold;
	border: 0;
	line-height: 22px;
}
@-moz-document url-prefix() { button.olimp-button { line-height: 20px; } } 
.olimp-button-hover { background-color: #2d89dc; }

.olimp-dialog { border: solid 1px #c5cbd0; background-color: #fff; }
.olimp-dialog .olimp-dialog-content { position: relative; border: 0; padding: 6px; background: none; overflow: auto; zoom: 1; }
.olimp-dialog .olimp-dialog-titlebar { cursor: move; border-bottom: solid 1px #c5cbd0; padding: 4px 20px 4px 4px; background: url(./Images/dlgttlbg.gif) repeat-x; position: relative; }
.olimp-dialog .olimp-dialog-titlebar-close { position: absolute; right: 6px; top: 9px; width: 14px; height: 14px; display: block; background: url(./Images/dlgcls.gif) no-repeat; }
.olimp-dialog .olimp-dialog-title { font-family: Calibri; font-size: 18px; font-weight: bold; color: #fff; } 

.olimp-dialog .olimp-dialog-buttonpane { text-align: left; border-top: solid 1px #c5cbd0; margin: 0 6px; }
.olimp-dialog .olimp-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }

.olimp-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #3b4752; filter: alpha(opacity=50); opacity: .5; }

.olimp-combobox { width: 100%; border-collapse: collapse; background-color: #fff; }
.olimp-combobox tr td { padding: 0; border-top:solid 1px #c9ccd6;border-bottom:solid 1px #c9ccd6;}
.olimp-combobox tr td.first {border-left:solid 1px #c9ccd6;}
.olimp-combobox tr td.last {border-right:solid 1px #c9ccd6;}
.olimp-combobox tr td.out {border:none;}
.olimp-combobox tr td input { border: 0; width: 100% !important; margin-left: 2px; }
.olimp-combobox tr td input:disabled { margin-left: 0px; }
.olimp-combobox .olimp-combobox-button { margin: 0 3px 0 5px; }
.olimp-combobox .olimp-combobox-button-wrap { width: 13px;  cursor: pointer; }
.combobox[disabled] + table.olimp-combobox input, .form-table[disabled]{
    -ms-opacity: 0.5;
    opacity: 0.5;
}
.olimp-combobox tr td input 
.ui-autocomplete { max-height: 200px; overflow-y: auto; overflow-x: hidden; }
* html .ui-autocomplete { height: 200px; }

.olimpcheckradio { display: inline-block; margin-right: 15px; width: 32px; height: 32px; }
.olimp-checkbox-unchecked { background: url(./Images/olimp-checkbox-unchecked.png); }
.olimp-checkbox-checked { background: url(./Images/olimp-checkbox-checked.png); }
.olimp-radio-unchecked { background: url(./Images/olimp-radio-unchecked.png); }
.olimp-radio-checked { background: url(./Images/olimp-radio-checked.png); }

.olimp-multiselect-list {
    display: table;
    font-size: 11px;
    color: #262626;
    list-style-type: none;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0;

}
.olimp-multiselect-list li { display: table-row; }
.olimp-multiselect-list li div { display: table-cell; padding: 0 5px 12px 0;vertical-align: top; }
.olimp-multiselect-list li div:first-child { padding-right: 7px; }
.olimp-multiselect-list li:first-child div { padding-top: 12px; }
.olimp-multiselect-list .icon-delete-active { margin: 0 5px -1px 0; }
.olimp-multiselect-list.disabled-list .icon { filter: alpha(opacity=50);opacity: 0.5;cursor: default;}
.olimp-multiselect-menu-add-text { color: #000000; opacity: 0.6; filter: alpha(opacity=60);}
.olimp-multiselect-input-tip{display: none; position: absolute; color: #262626; white-space: nowrap; overflow: hidden;}
.ui-state-hover .olimp-multiselect-menu-add-text{ color: #ffffff;}


.tooltip{position:absolute;z-index:1100;left:-9999px;background-color:#F0F3F8;padding:5px;border:1px solid #DADFE9;width:250px;}
.tooltip p{margin:0;padding:0;background-color:#F0F3F8;padding:2px 7px;font-size:13px;}

.collapsible-block{ background-color: #f0f3f8;border: 1px solid #dbdfea;margin: 10px 0;}
.collapsible-block .collapsible-block-header { height: 35px;padding: 15px 20px 5px;text-align: left;vertical-align: middle; cursor: pointer;}
.collapsible-block .collapsible-block-header:hover { background-color: #dadfe9;}
.collapsible-block .collapsible-block-header-text { font-size: 18px;margin-left: 8px;}
.collapsible-block .collapsible-block-header div { float: left;}
.collapsible-block .collapsible-block-header table { border-collapse: collapse; border: 0; }
.collapsible-block .collapsible-block-header table tr td { padding: 0; margin: 0; vertical-align: middle; }
.collapsible-block .collapsible-block-content {padding: 5px 20px 15px}
.collapsible-block .collapsible-block-content .form-table tr td,
.collapsible-block .collapsible-block-content .form-table tr th { border-bottom: 0; }
.collapsible-block .collapsible-block-content .form-table tr td.table .form-table tr td,
.collapsible-block .collapsible-block-content .form-table tr td.table .form-table tr th { border-bottom: 0; }