body { margin: 0; padding: 0 20px 0 0; font-family: Arial, sans-serif; min-width: 700px;}
input, textarea { border: solid 1px #C7CBD4; }

a:link, a:active { color: #3578cb; text-decoration: underline; }
a:hover { color: #3578cb; text-decoration:underline; }
a:visited { color: #787b80; text-decoration: underline; }
a.link-button:visited { color: #3578cb; }

#status { height: 22px; margin: 9px 0 8px; text-align: right;}
#status a.status-link { cursor: pointer;}
#status a.status-link, #status a.status-link:visited { font-size: 11px; font-family: Tahoma; color: #585a5e; text-decoration: none; display: block; float: right; }
#status a.status-link:hover .text { text-decoration: underline; }
#status a.status-link .icon { margin-right: 6px; }
#status a.status-link table { border-collapse: collapse; border: 0; }
#status a.status-link table tr td { padding: 0; margin: 0; vertical-align: middle; }

#head { height: 102px; padding-left: 18px; }
#main { padding: 20px 0 0 20px; }


h1 { margin: 0; margin-bottom: 10px; font-size: 22px; font-weight: normal; }
.tip { font-family: Tahoma; font-size: 11px; color: #787b80; margin-bottom: 6px; }

.logo { display: block; float: left; z-index: 9999; }
.logo img { border: 0; width: 293px; height: 108px; }

#splash .logo { float: none; margin-top: 25px; }
#splash .logo img { margin-left: -30px; }
#splash .top { margin-top: 20px; text-align: left; padding-left: 50%; }
#splash .top .bg { background: url(./Images/plant.gif) no-repeat; width: 693px; height: 164px; margin-left: -347px; position: relative; }
#splash .top .bg a { 
	display: block;
	width: 43px; 
	height: 40px; 
	background: url(./Images/settings.gif) no-repeat 0 0;
	position: absolute;
	top: 0;
	right: 0;
}
#splash .top .bg a:hover { background-position: 0 -40px; }
#splash .top .bg div.version { font-size: 12px; position: absolute; bottom: -20px; right: 0; }

#areas { margin-top: 60px; }
#splash .area { margin-bottom: 5px }
#splash .area .olimp-button { width: 210px; }

#copyright { margin: 95px 0 20px 0; text-align: center; font-size: 12px; }
#copyright a { color: #000; }

#error { margin-top: 150px; font-family: Arial, sans-serif; font-size: 13px; color: #000; }
#error tr td { vertical-align: top; text-align: left; }
#error .error-img { width: 220px; }
#error h1, #error h2, #error h3 { margin: 0; padding: 0; }
#error h1 { color: #0068bd; font-weight: bold; }
#error h2 { color: #000; font-size: 14px; font-weight: bold; margin-top: 35px; }
#error h3 { font-size: 13px; color: #000; font-weight: normal; margin: 25px 0 15px 0; }
#error .error-title { font-size: 18px; }
#error .error-code { font-size: 100px; }
#error .error-options { list-style-type: none; margin: 0; padding: 0; }
#error .error-options textarea { width: 500px; height: 225px; }

.navigation { margin-left: 310px; font-family: Calibri, sans-serif; }
.navigation .body { 	
	background: url(./Images/nbg.gif) repeat-x left top; 
	height: 68px; 
	font-size: 14px; 
	color: #fff; 
	border: solid 1px #2a7cc2; 
	margin-top: -1px;
}
.navigation .body a { color: #fff; text-decoration: none; margin-right: 7px; display: block; float: left; }
.navigation .body a:hover { text-decoration: underline; }
.navigation .body a.active { font-weight: bold; text-decoration: underline; }
.navigation .body .questions, .navigation .body .links { line-height: 26px; padding: 7px 10px; }
.navigation .body .questions a.done { text-decoration: line-through; }
.navigation .body .links a { margin-right: 16px; white-space: nowrap; }

.navigation .tabs { height: 33px; font-size: 18px; /*overflow: hidden;*/ position: relative; }
.navigation .tabs .wrap { width: 100%; overflow: hidden; }
.navigation .tabs a { 
	background: #f0f3f8; 
	color: #606163; 
	border: solid 1px #c9ccd6; 
	border-bottom: 0; 
	border-radius: 3px 3px 0 0; 
	text-decoration: none; 
	font-weight: bold; 
	display: block;
	float: right;
	margin-left: 3px;
	padding: 5px 18px 4px;
	height: 22px;
}
.navigation .tabs a:hover { background: #dadfe9; }
.navigation .tabs a.active { background: #0966b9; border-color: #2a7cc2; color: #fff; padding-bottom: 5px; }

.error-message, .warning-message, .success-message { padding: 6px 12px; position: fixed; top: 6px; left: 50%; z-index: 1000; }
.error-message { border: solid 1px #d14949; background: #fdebeb; color: #c10007; }
.warning-message { border: solid 1px #edd267; background: #fef9dc; }
.success-message { border: solid 1px #b1cbe4; background: #e8eefa; }

.topic-icon { background: url(./Images/topic-icons.gif) no-repeat; display: block; font-size: 0; }
.topic-icon-unknown, .topic-icon-passed, .topic-icon-failed, .topic-icon-disabled { width: 25px; height: 23px; margin-top: 3px}
.topic-icon-passed { background-position: 0 -3px; }
.topic-icon-failed { background-position: 0 -33px; }
.topic-icon-unknown { background-position: 0 -63px; }
.topic-icon-disabled { background-position: 0 -93px; }

.icon { background: url(./Images/icons.gif) no-repeat; display: block; font-size: 0; }
.icon-home, .icon-print, .icon-exit, .icon-finish-flag, .icon-finish-yes, .icon-about { width: 19px; height: 19px; }
.icon-lock-big, .icon-circle, .icon-people, .icon-generated, .icon-sheet-big, 
.icon-success, .icon-fail, .icon-unknown, .icon-document, .icon-scorm,
.icon-course-update, .icon-course-new, .icon-filter-show, .icon-filter-hide { width: 15px; height: 15px; }
.icon-lock-small-active, .icon-lock-small-inactive, .icon-delete-active, .icon-delete-inactive,.icon-pencil-active, 
.icon-pencil-inactive, .icon-sheet-small, .icon-trash, .icon-info, .icon-question,.icon-gear, .icon-tool, 
.icon-download, .icon-stats, .icon-generate-1, .icon-generate-2, .icon-generate-3, .icon-add, .icon-save, .icon-turnon, .icon-turnoff,
.icon-globe-inactive, .icon-globe-active, .icon-print-small { width: 13px; height: 13px; }
.icon-minus, .icon-plus, .icon-left, .icon-right, .icon-down, .icon-up { width: 9px; height: 9px; } 
.icon-bottom-arrow, .icon-top-arrow, .icon-right-arrow, .icon-right-arrow, .icon-left-arrow { width: 10px; height: 10px; }
.icon-with-label { font-size: inherit; width: initial; text-decoration: none !important; }
.icon-with-label span { margin-left: 20px; }

.icon-profile {
    background: url(./Images/profilesicons.gif) no-repeat; 
    display: block; 
    font-size: 0;
    width: 42px; 
    height: 42px;
    margin-left: 1px;
}
.profile-examareas { background-position: 0 0; }
.profile-organizations { background-position: 0 -46px; }
.profile-groups { background-position: 0 -92px; }
.profile-appointments { background-position: 0 -138px; }

.selected-button .profile-examareas, button:active .profile-examareas { background-position: -48px 0; }
.selected-button .profile-organizations, button:active .profile-organizations { background-position: -48px -46px; }
.selected-button .profile-groups, button:active .profile-groups { background-position: -48px -92px; }
.selected-button .profile-appointments, button:active .profile-appointments { background-position: -48px -138px; }

.profile-dependecy-entities-buttons button {
    width: 56.8px;
    height: 56.8px;
    background-color: #f0f3f8;
    border: solid 1px #c9cbd7;
    -ms-border-radius: 4px;
    border-radius: 4px;
    /* margin-right: 4px; */
    margin-bottom: 12px;
}

.profile-dependecy-entities-buttons button:hover { background-color: #e2e6f0; }
.profile-dependecy-entities-buttons button:active,
.profile-dependecy-entities-buttons .selected-button, 
.profile-dependecy-entities-buttons .selected-button:hover {
    background-color: #0b84d5;
    border: 0;
}

.list { list-style: none;  padding: 0; }
.list li {
     font-size: 13px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 3px;
     padding-right: 3px;
}
.list li:hover { background-color: #e2e6f0; }
.list .selected-profile:hover { background-color: #0b84d5; }
.list .selected-profile {
     background-color: #0b84d5; 
     color: white;
}

.icon-home { background-position: 0 0; }
.icon-print { background-position: 0 -23px; }
.icon-print-small { background-position: -42px -391px; }
.icon-exit { background-position: 0 -46px; }
.icon-finish-flag { background-position: 0 -69px; }
.icon-finish-yes { background-position: 0 -92px; }
.icon-about { background-position: 0 -115px; }

.icon-lock-big { background-position: -23px 0; }
.icon-circle { background-position: -23px -19px; }
.icon-people { background-position: -23px -38px; }
.icon-generated { background-position: -23px -57px; }
.icon-success { background-position: -23px -76px; }
.icon-fail { background-position: -23px -95px; }
.icon-unknown { background-position: -23px -114px; }
.icon-document { background-position: -23px -133px; }
.icon-scorm { background-position: -23px -152px; }
.icon-course-update { background-position: -23px -171px; }
.icon-course-new { background-position: -23px -190px; }
.icon-filter-show { background-position: -23px -209px; }
.icon-filter-hide { background-position: -23px -225px; }

.icon-lock-small-inactive { background-position: -42px 0; }
.icon-lock-small-active { background-position: -42px -17px; }
.icon-delete-active { background-position: -42px -34px; }
.icon-delete-inactive { background-position: -42px -51px; }
.icon-pencil-active { background-position: -42px -68px; }
.icon-pencil-inactive { background-position: -42px -85px; }
.icon-sheet-small { background-position: -42px -102px; }
.icon-trash {background-position: -42px -119px;  }
.icon-info { background-position: -42px -136px; }
.icon-question { background-position: -42px -153px; }
.icon-gear { background-position: -42px -170px; }
.icon-tool { background-position: -42px -187px; }
.icon-download { background-position: -42px -204px; }
.icon-stats { background-position: -42px -221px; }
.icon-generate-1 { background-position: -42px -238px; }
.icon-generate-2 { background-position: -42px -255px; }
.icon-generate-3 { background-position: -42px -272px; }
.icon-add { background-position: -42px -289px; }
.icon-save { background-position: -42px -306px; }
.icon-turnon { background-position: -42px -323px; }
.icon-turnoff { background-position: -42px -340px; }
.icon-globe-active { background-position: -42px -357px; }
.icon-globe-inactive { background-position: -42px -374px; }

.icon-minus { background-position: -59px 0; }
.icon-plus { background-position: -59px -13px; }
.icon-left { background-position: -59px -26px; }
.icon-right { background-position: -59px -39px; }
.icon-down { background-position: -59px -52px; }
.icon-up { background-position: -59px -65px; }

.icon-bottom-arrow { background-position: -72px 0; }
.icon-top-arrow { background-position: -72px -12px; }
.icon-right-arrow { background-position: -72px -26px; }
.icon-left-arrow { background-position: -72px -40px; }

.icon-small-delete {
    background-position: -86px 0;
    height: 11px;
    width: 11px;
}

.icon-search {
     background-position: -42px -408px;
     width: 13px;
     height: 13px;
}

/*TODO: DELETE*/
.olimp-validation-error { color: #cc3333; }
.olimp-field-group { margin-top: 10px; }
.olimp-buttons-container { text-align: right; }
/*END*/

.block { 
	margin-bottom: 15px; 
	padding: 6px 0; 
	border: solid 1px #C7CBD4; 
	border-right: 0; 
	border-left: 0; 
}

.form-table { width: 100%; border-collapse: collapse; }
.form-table tr th { white-space: nowrap; width: 1px; padding-right: 15px; }
.form-table tr th,
.form-table tr td,
.form-table tr th label { font-weight: normal; font-size: 13px; }
.form-table tr td,
.form-table tr th { border-bottom: solid 1px #e7e7e7; text-align: left; padding-top: 6px; padding-bottom: 6px; }
.form-table tr.first td,
.form-table tr.first th { padding-top: 0; }
.form-table tr.last > td,
.form-table tr.last > th { border-bottom: 0; padding-bottom: 0; }

.form-table tr td select { width: 100%; }
.form-table tr td input,
.form-table tr td textarea { width: 400px; }
.form-table tr td.checkbox input { width: auto; border: 0; text-align: left; }
.form-table tr td.date-span input { width: 100px; margin-right: 10px; }
.form-table tr td .inplace-wrapper td { border: 0; padding: 0; }

.form-table tr td.table .form-table tr td,
.form-table tr td.table .form-table tr th { border-bottom: solid 1px #e7e7e7; text-align: left; padding-top: 6px; padding-bottom: 6px; }
.form-table tr td.table .form-table tr.first td,
.form-table tr td.table .form-table tr.first th { padding-top: 0; }
.form-table tr td.table .form-table tr.last td,
.form-table tr td.table .form-table tr.last th { border-bottom: 0; padding-bottom: 0; }

.buttons { padding-top: 6px; }

.button-float-container { 
	position: fixed; 
	left: 0; 
	bottom: 0; 
	width: 100%; 
	padding: 20px 6px 6px 20px; 
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.7) 10%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.7) 10%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.7) 10%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.7) 10%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.7) 10%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.print-block { height: 19px; float: right; }
.print-block a { display: block; cursor: pointer; }
.print-block a.right,
.print-block a.right .icon-print { margin-right: 5px; }
.print-block a.right .icon-print,
.print-block a.right span { display: block; float: right; text-decoration: underline; }

.validation-message { margin: 6px 0; font-size: 13px; color: #c30715; }

.ui-widget { font-size: 11px; }

.document-heading a { color: #333; }
.document-heading ul { list-style-type: none; }
.document-heading ul li { margin-bottom: 10px; }

.godmode-incorrect { text-decoration: line-through; }
.godmode-message { text-align: center; font-size: 12px; margin: -15px 0 35px 0; }

#head .top-right-text { position: relative; font-size:18px; color: #00529c; z-index: -1000; }
#head .top-right-text,
#head .top-right-text table { width: 100%; height: 100%; }
#head .top-right-text table { position: absolute; top: 0; left: 0; }
#head .top-right-text table tr td { padding-left: 320px; vertical-align: middle; text-align: right; }

/*breadcrumb*/
#breadcrumb {margin: -15px 0 0 308px; position:relative; float:left; font-family: Tahoma; font-size: 11px; color: #787b80;}
#breadcrumb  a { color: #787B80; text-decoration: none;}
#breadcrumb  a:hover { text-decoration: underline; }
/*testing*/
#logout {display: block; float: right; font-family: Tahoma; font-size: 14px; color: #787b80;}
#logout  a { color: #787B80; text-decoration: none;}
#logout  a:hover { text-decoration: underline; }

.passed{
	font-family: Arial;
	font-size: 14px;
	color: #399e00;
}
.failed{
	font-family: Arial;
	font-size: 14px;
	color: #be1018;
}
/*buttons*/
.olimp-buttons-container{
	text-align: right;
}


.margin-buttons .olimp-button {
	margin-left: 7px;
}


/*status timer*/

#timer{
	font-family: Calibri;
	font-size: 22px; 
	font-weight: bold;
	color: #0e6cbd;
	display: block; 
	float:right ;
}

#timer-caption{ 
	font-family: Arial;
	font-size: 12px;
	display: block;
	float:right ;
	padding-top: 9px;
	padding-right: 5px;
}

/*main question*/
#question-text, #topic-text{ 
	font-family: Arial;
	font-size: 18px;
	color: #00529c;
 	margin-bottom: 14px;
    margin-top: 20px;
}
#topic-text{ 
	font-family: Arial;
	font-size: 18px;
	color: #00529c;
 	margin-bottom: 14px;
    margin-top: 20px;
}

/*question answers table*/
#question-table { width: 100%; }
.spacer {
    border-top: 1px solid #e7e7e7;
    margin-top: 6px;
    margin-bottom: 6px;
}
.answer-input input { margin: 0; border: 0; }
.answer-text{
	width: 100%;
	font-family: Arial;
	font-size:13px;
	padding-left: 5px;
}
.normal-text{
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
}

.questions-quantity{
	float: left;
	font-family: Tahoma;
	font-size: 11px;
	color: #787b80;
	
}
.questions-quantity span{
	vertical-align: middle;
	line-height: 37px;	
}
/*themes-table*/
#themes-table{
	width: 100%;
	padding: 4px 0;
}
#themes-table td{
	vertical-align: top;
}
.theme-text{
	width: 100%;
	padding-left: 15px;
}
.theme-spacer {
    border-top: 1px solid #e7e7e7;
    margin-top: 10px;
    margin-bottom: 10px;
}
.theme-text a{
	font-size:13px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
.theme-text a:hover{
	color: #0966b9;
	text-decoration: underline;
}
.theme-description{
	font-size:11px;
}
/*materials-list*/
.materials-list{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.materials-list li .icon { display: inline-block; }
.materials-list li .document-caption { font-size:13px; color: #000; text-decoration: none; }
.materials-list li a.document-caption:hover { color: #0966b9; text-decoration: underline; }
/*top-right-text*/

#exam-areas-block .olimp-multiselect-list-container {
    padding-top: 6px !important;
    height: 73px;
    overflow-y: scroll;
}

/* Profiles */
.search-box-wrapper {
    border: solid 1px #c9ccd6;
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.search-box-wrapper tr td {
    padding: 0 0 0 0;
}

.search-box-wrapper tr td input {
    border: 0;
    width: 100% !important;
    margin-right: 2px;
}

.search-box-wrapper .search-box-button-wrap {
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.search-box-button-wrap .search-box-button-icon {
    margin-left: 2px;
}

.search-selection {
    background-color: #bff06f;
    color: #000000;
}