﻿<%@ Master Language="C#" Inherits="Olimp.Core.Mvc.OlimpViewMasterPage" MasterPageFile="~/Views/Shared/Admin.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Olimp_Admin_Head" runat="server">
	<title>Соревнование</title>			
	<asp:ContentPlaceHolder ID="Olimp_Competition_Head" runat="server" />	
</asp:Content>	

<asp:Content ID="Content2" ContentPlaceHolderID="Olimp_Admin_Js" runat="server">	
	<asp:ContentPlaceHolder ID="Olimp_Competition_Js" runat="server" />		
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="Olimp_Admin_Css" runat="server">
	<asp:ContentPlaceHolder ID="Olimp_Competition_Css" runat="server" />		
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="Olimp_Admin_Sidebar" runat="server">
	<% Platform.RenderSubNavigation("/admin/layout/navigation"); %>
</asp:Content>

<asp:Content ID="Content5" ContentPlaceHolderID="Olimp_Admin_Content" runat="server">		
	<asp:ContentPlaceHolder ID="Olimp_Competition_Content" runat="server" />		
</asp:Content>	
	