﻿<%@ Master Language="C#" Inherits="Olimp.Core.Mvc.OlimpViewMasterPage" MasterPageFile="~/Views/Shared/CompetitionBase.master" %>

<asp:Content ContentPlaceHolderID="Olimp_CompetitionBase_Head" runat="server">
	<asp:ContentPlaceHolder ID="Olimp_Competition_Head" runat="server" />	
</asp:Content>	

<asp:Content ContentPlaceHolderID="Olimp_CompetitionBase_Js" runat="server">	
	<asp:ContentPlaceHolder ID="Olimp_Competition_Js" runat="server" />		
</asp:Content>

<asp:Content ContentPlaceHolderID="Olimp_CompetitionBase_Css" runat="server">	
	<asp:ContentPlaceHolder ID="Olimp_Competition_Css" runat="server" />    
</asp:Content>

<asp:Content ContentPlaceHolderID="Olimp_CompetitionBase_Top" runat="server">
    <asp:ContentPlaceHolder ID="Olimp_Competition_Top" runat="server" /> 
</asp:Content>

<asp:Content ContentPlaceHolderID="Olimp_CompetitionBase_Content" runat="server">		
    <div id="competition-content-wrapper">
        <div id="competition-content">
            <asp:ContentPlaceHolder ID="Olimp_Competition_Content" runat="server" />	                
        </div>
        <div id="competition-content-wrapper-placeholder"></div>
    </div>
</asp:Content>