﻿<%@ Master Language="C#" Inherits="Olimp.Core.Mvc.OlimpViewMasterPage" MasterPageFile="~/Views/Shared/Layout.master" %>
<%@ Import Namespace="Olimp.Helpers"  %>

<asp:Content ContentPlaceHolderID="Olimp_Head" runat="server">
	<asp:ContentPlaceHolder ID="Olimp_Admin_Head" runat="server" />	
</asp:Content>	

<asp:Content ContentPlaceHolderID="Olimp_Js" runat="server">	
	<asp:ContentPlaceHolder ID="Olimp_Admin_Js" runat="server" />		
</asp:Content>

<asp:Content ContentPlaceHolderID="Olimp_Css" runat="server">
	<asp:ContentPlaceHolder ID="Olimp_Admin_Css" runat="server" />		
</asp:Content>

<asp:Content ContentPlaceHolderID="Olimp_Sidebar" runat="server">
	<asp:ContentPlaceHolder ID="Olimp_Admin_Sidebar" runat="server" />	
</asp:Content>

<asp:Content ContentPlaceHolderID="Olimp_Navigation" runat="server">
	<% Platform.RenderNavigation("/admin/layout/navigation"); %>
</asp:Content>

<asp:Content ContentPlaceHolderID="Olimp_Status" runat="server">
	<% Html.RenderLogoutLink(); %>
    <% Html.RenderAboutLink(); %>
</asp:Content>	

<asp:Content ContentPlaceHolderID="Olimp_Content" runat="server">
	<script type="text/javascript">
	$(function() { $('#head .navigation').olimpmenu() })
	</script>	
	<asp:ContentPlaceHolder ID="Olimp_Admin_Content" runat="server" />		
</asp:Content>	
	