﻿html, body { padding: 0; background: #01255f; height: 100%; }

body .wrapper {    
    position: relative; 
    background: url(./Images/competition-bg-l1.jpg) top left repeat-x;
    width: 100%;
    height: 100%;
}

#competition-background-layer-two {
    background: url(./Images/competition-bg-l2.jpg) top left no-repeat;    
    width: 100%;
    height: 100%;    
}

#competition-head { position: relative; height: 118px; margin: 0 20px 0 20px; padding-top: 20px; }
#competition-head .competition-logo { position: absolute; left: -2px; top: 20px; z-index: 9999; }
#competition-head .competition-logo img { border: none;}
#competition-content-wrapper { position: absolute; top: 138px; left: 0; right: 0; bottom: 20px; margin-bottom: 90px; }
#competition-content-wrapper-placeholder { width: 100%; height:20px; }
#competition-content { margin: 0 20px; padding: 45px; background: #fff; border-radius: 12px; min-height: 100%; }

.olimpcheckradio { display: inline-block; margin-right: 15px; width: 32px; height: 32px; }
.olimp-checkbox-unchecked { background: url(./Images/olimp-checkbox-unchecked.png); }
.olimp-checkbox-checked { background: url(./Images/olimp-checkbox-checked.png); }
.olimp-radio-unchecked { background: url(./Images/olimp-radio-unchecked.png); }
.olimp-radio-checked { background: url(./Images/olimp-radio-checked.png); }

.final-page-image { margin-bottom: 50px; }

.big-button {
    font-size: 27px;
    padding: 12px 30px;
}
#start-testing-center {
    background-color: #01255F !important;
    background: url(./Images/bgimgtitul.jpg) center center no-repeat;
    width: 100%;
    height: 100%;
}
#start-testing-center-bottom {
    height: 34px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 150px 0 0 -150px;
}
