﻿.competition-question { font-size: 36px !important; color: #00529c; margin: 20px 0; text-align: center; }
.competition-answers { margin: 19px 0 29px 0; list-style-type: none; padding: 0; }
.competition-answers li { margin: 6px 0; font-size: 26px; padding: 12px 20px; background: #e8ecef; border: solid 2px #bdc6ce; cursor: pointer; }
.competition-answers li * { cursor: pointer; }
.competition-answers li.selected { color: #fff; background: #1268b5; border: solid 2px #0d60a2; }
.competition-answers li .olimpcheckradio { margin-bottom: -6px; }
.competition-answers li table { border-collapse: collapse }
.competition-answers li table tr td { margin: 0; }
.competition-answers li table tr .checker { vertical-align: middle; }

.competition-info-block { display: inline-block; margin: 12px 0 0 10px; background: #fff; border: solid 1px #808080; border-radius: 6px; text-align: center; width: 147px; height: 63px; padding-top: 16px; zoom: 1; *display: inline; _overflow: hidden;}
.competition-info-block .value { color: #00529c; font-weight: bold; font-size: 26px; }
.competition-info-block .name { color: #585A5E; font-size: 12px; white-space: nowrap; }