﻿.first-place {
    background: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Content/Images/1st.png',sizingMethod='crop');
}

.second-place {
    background: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Content/Images/2nd.png',sizingMethod='crop');
}

.third-place {
    background: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Content/Images/3rd.png',sizingMethod='crop');
}

.other-place {
    background: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Content/Images/position.png',sizingMethod='crop');
}