﻿body {
    padding: 0px !important;
}
#chart-top-wrapper {
    left: 0;
    margin: -20px 0 20px;
    padding-left: 380px;
    position: absolute;
    right: 0;
}
#chart-top {
    width: 100%;
    height: 138px;
    padding: 0px;
    border-spacing: 0px;
}
#chart-top  tr td{
    padding:0px;
}
#chart-top tr {
    height: 138px;    
}
#chart-top .chart-logo{
    width: 270px;
    text-align: center;
    z-index: 9999; 
}
#chart-top .chart-logo img { 
    border: 0;  
    height: 95px; 
    float:left;
}
#chart-top .chart-text {
    width: 380px;
    text-align: right;
    vertical-align: top;
}
#chart-top .chart-text span {
    display:inline-block;
    color: #f9fbfa;
    font-family: Calibri, Arial;
    font-size: 34px;
    font-weight: bold;
    margin-top: 51px;
}
#chart-top .chart-timer{
    text-align: center;
}
#chart-top .chart-timer .chart-timer-table tr {
    height: 77px;
}
.chart-timer-table {
    border-spacing: 0px;
    width: 147px;
    height: 79px;
    background-color: #ffffff;
	border: 1px solid #808080;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
    margin: 28px auto 25px auto;
}
.chart-timer-time {
    color: #0E6CBD ;
    font-family: Calibri;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;   
}
#chart-border {
	border: 1px solid #fff;
    background-color: #fff;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	padding: 20px;
    overflow: hidden;
}	
.jqplot-yaxis-tick, .jqplot-xaxis-tick, .jqplot-x2axis-tick {
    color: #666666 ;
    font-family: Arial;
    font-size: 24px !important;
    font-weight: bold;
}
.jqplot-point-label {
    color: #ffffff;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
}
.point-label-grey {
    color: #525252 !important;
}
.first-place {
    display: none;
    left: -37px;
    position:relative;
    margin-top: 10px;
    background: url(./Images/1st.png) top left no-repeat;
    height: 115px;
    width: 75px;
    z-index:104;
}
.second-place {
    display: none;
    left: -37px;
    position:relative;
    margin-top: 10px;
    background: url(./Images/2nd.png) top left no-repeat;
    height: 115px;
    width: 75px;
    z-index:103;
}
.third-place {
    display: none;
    left: -37px;
    position:relative;
    margin-top: 10px;
    background: url(./Images/3rd.png) top left no-repeat;
    height: 115px;
    width: 75px;
    z-index:102;
}
.other-place {
    display: none;
    left: -25px;
    position:relative;
    margin-top: 10px;
    padding-top:10px;
    background: url(./Images/position.png) top left no-repeat;
    height: 53px;
    width:53px;
    z-index:100;
}