﻿body { padding: 0; }

#cluster-splash-factoy {
    background: #0a87d9; /* Old browsers */
    background: -moz-linear-gradient(top, #0a87d9 0%, #0e64b7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a87d9), color-stop(100%, #0e64b7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0a87d9 0%, #0e64b7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0a87d9 0%, #0e64b7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0a87d9 0%, #0e64b7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0a87d9 0%, #0e64b7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a87d9', endColorstr='#0e64b7', GradientType=0); /* IE6-9 */
}

#cluster-splash-factoy .picture {
    background: url(./Images/cluster-splash-factory.png) bottom center no-repeat;
    height: 190px;
}

#cluster-splash-wrapper .system-logo {
    margin: 95px 0 40px 0;
    text-align: center;
}

#cluster-splash-wrapper .system-logo .logo { float: none;  border: 0; width: 293px; height: 108px;}
#cluster-splash-wrapper .system-logo img.logo { float: none;  border: 0; width: 419px; height: 147px;display: inline;}

#nodes-bar-wrapper {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #0867b9; /* Old browsers */
    background: -moz-linear-gradient(top, #0867b9 0%, #0b8abd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0867b9), color-stop(100%, #0b8abd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0867b9 0%, #0b8abd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0867b9 0%, #0b8abd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0867b9 0%, #0b8abd 100%); /* IE10+ */

    background: linear-gradient(to bottom, #0867b9 0%, #0b8abd 100%); /* W3C */
    border-radius: 6px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0867b9', endColorstr='#0b8abd', GradientType=0); /* IE6-9 */

    padding: 10px 27px;
    width: 881px;
}

#nodes-bar-wrapper table {
    border-collapse: collapse;
    width: 100%;
}

#nodes-bar-wrapper table tr th {
    color: #fff;
    width: 1px;
}

#nodes-bar-wrapper table tr td.placeholder { width: 15px; }

#nodes-bar-wrapper table tr td .olimp-combobox { border-color: #cdccd1; }

#nodes-bar-wrapper table tr th,
#nodes-bar-wrapper table tr td .olimp-combobox input {
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
}

#nodes-bar-wrapper table tr td .olimp-combobox input { height: 29px; }

#nodes-menu-container {
    margin: 56px -5px 0 5px;
    width: 1000px;
}

.node-section-link, .node-section-link:visited {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #f0f5fb; /* Old browsers */
    background: -moz-linear-gradient(top, #f0f5fb 0%, #e0e7f1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f5fb), color-stop(100%, #e0e7f1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f0f5fb 0%, #e0e7f1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f0f5fb 0%, #e0e7f1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f0f5fb 0%, #e0e7f1 100%); /* IE10+ */

    background: linear-gradient(to bottom, #f0f5fb 0%, #e0e7f1 100%); /* W3C */
    border: solid 1px #c6c9ce;
    border-radius: 6px;

    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f5fb', endColorstr='#e0e7f1', GradientType=0); /* IE6-9 */
    float: left;
    height: 145px;
    margin: 0 10px 10px 0;
    text-decoration: none !important;
    width: 145px;
}

#nodes-menu-wrapper.cluster-menu .node-section-link,#nodes-menu-wrapper.cluster-menu .node-section-link:visited {
    border: none;
    border-radius: 0;
    height: 240px;
    background: #e2e7ed;
    width: 240px;
}

#nodes-menu-wrapper.cluster-menu .node-section-link:hover,#nodes-menu-wrapper.cluster-menu .node-section-link:visited:hover {
    border: 1px;
    border-color: #e2e7ed;
    background-color: #eff2f6;
}

.node-section-link:hover {
    background: #f9fbfe; /* Old browsers */
    background: -moz-linear-gradient(top, #f9fbfe 0%, #f2f8fc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9fbfe), color-stop(100%, #f2f8fc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9fbfe 0%, #f2f8fc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9fbfe 0%, #f2f8fc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f9fbfe 0%, #f2f8fc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f9fbfe 0%, #f2f8fc 100%); /* W3C */
    border-color: #d9dbdf;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9fbfe', endColorstr='#f2f8fc', GradientType=0); /* IE6-9 */
}

.node-section-link .node-section-icon {
    background: url(./Images/splash-section-icons.png);
    height: 72px;
    margin: 25px 0 2px 0;
    width: 90px;
}

#nodes-menu-wrapper.cluster-menu .node-section-link .node-section-icon {
    margin: 70px 0 2px 0;
}

.node-section-link .section-icon-none { background: none; }

.node-section-link .section-icon-prep { background-position: 0 0; }

.node-section-link .section-icon-exam { background-position: -100px 0; }

.node-section-link .section-icon-briefintro { background-position: -200px 0; }

.node-section-link .section-icon-competition { background-position: -300px 0; }

.node-section-link .node-section-text {
    color: #2b2d2c;
    font-family: Calibri;
    font-size: 16px;
    font-weight: normal;
    line-height: 15px;
    padding: 0 10px;
    text-align: center;
}

#header {
    color: #FFFFFF;
    font-family: Calibri, "Calibri Light", Arial;
    font-size: 18px;
    z-index: 2;
    position: relative;
}

#node-chooser {
    background-color: #0E5C9A;
    border-bottom: 1px solid #1474BE;
    height: 44px;
}

#current-node {
    cursor: pointer;
    float: left;
    max-width: 900px;
}

#current-node table { height: 45px; }

#current-node .place-pointer-icon {
    background-position: -5px -86px;
    height: 21px;
    margin: 0 6px 0 22px;
    width: 22px;
}

#current-node .place-pointer-icon:hover {
    background-position: -4px -120px;
    height: 25px;
    margin: 0 6px 0 21px;
    width: 23px;
}

#node-chooser .settings-icon {
    display: block;
    cursor: pointer;
    background-position: -78px -84px;
    float: right;
    height: 24px;
    margin: 11px 16px 10px 0;
    width: 24px;
}

#node-chooser .settings-icon:hover {
    background-position: -76px -118px;
    height: 28px;
    width: 28px;
    margin: 9px 14px 10px 0;
}

#current-node-text div{
    border-bottom: 1px dashed #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#current-node .show-nodes-icon {
    background-position: -48px -95px;
    height: 6px;
    margin-left: 6px;
    width: 10px;
}

#current-node .show-nodes-icon:hover {
    background-position: -47px -129px;
    height: 9px;
    margin: -5px 5px;
    width: 12px;
}

#current-node .selected {
    background-position: -162px -94px;
}

#current-node .selected:hover {
    background-position: -161px -128px;
    height: 9px;
    margin: -4px 5px;
    width: 12px;
}

#nodes-list {
    background-color: #06508D;
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    padding: 17px 85px 17px 41px;
    height: 157px;
}

#nodes-list .node-element {
    float: left;
    line-height: 18px;
    width: 250px;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

#nodes-list .node-element:hover {
    color: #aee00f;
}

#nodes-list .node-element.selected {
    color: #739fc2;
}

#nodes-menu {
    display: none;
}

#nodes-menu-closer {
    position: absolute;
    top: 67px;
    right: 19px;
    text-align: center;
    cursor: pointer;
}

#nodes-menu-closer table, #current-node table{
    border: 0;
    border-collapse: collapse;
}

#nodes-menu-closer table tr td,  #current-node table tr td {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    height: 17px;
    width: 20px;
}
#nodes-menu-closer .close-icon {
    background-position: -120px -90px;
    height: 13px;
    width: 13px;
    margin-right: 6px;
}

#nodes-menu-closer .close-icon:hover {
    background-position: -118px -124px;
    height: 17px;
    width: 17px;
    margin: 0 5px 0 0;
}

#nodes-menu-closer .close-text {
    border-bottom: 1px dashed #fff;
    font-size: 13px;
}

.splash-icon {
    background: url(./Images/splash-section-icons.png);
}

#overlay {
    display: none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
}

#current-node.cursor-default, #node-chooser .settings-icon.cursor-default {
    cursor: default;
}