﻿<%@ Master Language="C#" Inherits="Olimp.Core.Mvc.OlimpViewMasterPage" MasterPageFile="~/Views/Shared/Admin.master" %>

<asp:Content ContentPlaceHolderID="Olimp_Admin_Head" runat="server">
	<title>Профили</title>	
	<asp:ContentPlaceHolder ID="Olimp_Profile_Head" runat="server" />	
</asp:Content>	

<asp:Content ContentPlaceHolderID="Olimp_Admin_Js" runat="server">	
	<asp:ContentPlaceHolder ID="Olimp_Profile_Js" runat="server" />		
</asp:Content>

<asp:Content ContentPlaceHolderID="Olimp_Admin_Css" runat="server">
	<asp:ContentPlaceHolder ID="Olimp_Profile_Css" runat="server" />		
</asp:Content>

<asp:Content ContentPlaceHolderID="Olimp_Admin_Sidebar" runat="server">
	<% Platform.RenderSubNavigation("/admin/layout/navigation"); %>
</asp:Content>

<asp:Content ContentPlaceHolderID="Olimp_Admin_Content" runat="server">		
	<asp:ContentPlaceHolder ID="Olimp_Profile_Content" runat="server" />		
</asp:Content>	